.navbar{
    transition: all .5s ease-in-out;
    .btn-outline-light:hover{
        color: var(--bs-dark);
    }
    .navbar-brand{
        img{
            height: 32px;
            width: 100%;
        }
    }
}
.header{
    background: url(../images/header-background.jpg);
    background-size: cover;
    position: relative;
    .hero {
        padding-bottom: 70px;
    }
    svg{
        position: absolute;
        bottom: 0;
    }
}
@media (max-width: 1000px){
    .hero .image-container {
        display: flex;
        justify-content: center;
    }
    .hero .text-container {
        text-align: center;
    }
}